body {
  margin: 0;
}
.page-wrapper {
  padding-top: 97px;
}
ul.numbered {
  list-style-type: decimal;
}
ul.arguments {
  list-style-type:square;
}
.function {
  position: relative;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-top: 1px solid rgba($brand-primary, 0.3);
  h6 {
    margin: 0;
    color: darken($brand-primary, 20%);
    font-weight: 500;
  }
  .arguments {
    margin-left: 0;
  }
  .desc {
    font-weight: 300;
    margin-top: 4px;
  }
  .notes {
    font-weight: 400;
    font-size: 14px;
  }
}

.arguments {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-left: 1px solid rgba($brand-primary, 0.2);
  li {
    padding-left: 24px;
    line-height: 1.35;
  }
  b {
    margin-left: -24px;
    font-weight: 500;
    color: darken($brand-primary, 10%);
  }
  span.type {
    color: $gray;
    padding-right: 8px;
    padding-left: 8px;
  }
}

.main-app {
  background-color: #ffffff;
  margin-bottom: 24px;
  padding: 24px 24px 0 24px;
  font-family: "Roboto", sans-serif;
  border: 1px solid $gray-light;
  min-height: calc(100% - 197px);
  .anchor {
    cursor: pointer;
    display: inline-block;
  }
  img {
    margin: 16px 8px;
    display: block !important;
  }
  p.inline {
    margin-bottom: 8px;
  }
  aside.sidebar {
    border-right: 1px solid $gray-light;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  .post-title {
    margin-bottom: 48px;
    margin-top: 24px;
  }

  h5 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
    &.has-bottom {
      margin-bottom: 16px;
    }
  }
  a {
    @include transition(none);
    text-decoration: none;
    color: darken($brand-primary, 10%);
    &:hover {
      color: darken($brand-primary, 30%);
    }
  }
  .divider {
    width: 100%;
    background-color: $gray-light;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.top-header {
  font-weight: 100;
}
.doc-menu ul{
  margin-top: 8px;
  margin-bottom: 32px;
}